body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #fe8c00, #f83600);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.gallery-item {
  margin: 10px;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-out;
  object-fit: cover;
}

.gallery-item .details {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}

.gallery-item .details span {
  display: inline-block;
  margin-right: 10px;
}

.gallery-item .details .likes::before {
  content: '♥';
  margin-right: 5px;
}

.gallery-item .details .views::before {
  content: '👁️';
  margin-right: 5px;
}

.gallery-item .details .comments::before {
  content: '💬';
  margin-right: 5px;
}

.gallery-item .details .downloads::before {
  content: '⤓';
  margin-right: 5px;
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.load-more:hover {
  background-color: #f0f0f0;
}

/* search form styles */
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 400px;
  margin: 10px auto 0;
  position: relative;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  background-color: #E9EBEC;
}

.search-form input[type="text"] {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  padding: 10px;
  border: none;
  border-radius: 25px;
  width: 100%;
  outline: none;
  background-color: transparent;
}

.search-form button[type="submit"] {
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 10px;
}

.search-form button[type="submit"]:focus,
.search-form input[type="text"]:focus {
  background-color: #fff;
}

.search-form:focus-within {
  outline: 2px solid #22b8cf;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

/* media queries */
@media screen and (max-width: 768px) {
  .search-form {
    flex-direction: column;
    border-radius: 0;
    box-shadow: none;
  }

  .search-form input[type="text"],
  .search-form button[type="submit"] {
    border-radius: 0;
  }
}

.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}