body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',
    sans-serif;
  background: linear-gradient(to bottom right, #fe8c00, #f83600);

}

header {
  margin-top: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a,
img,
button,
input {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.gallery-item {
  margin: 10px;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-out;
  object-fit: cover;
}

.gallery-item .details {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 13px;
  line-height: 1.5;

  /* Styles for screens smaller than 320px */
  @media screen and (max-width: 320px) {
    font-size: 8px;
    padding: 8px;
  }

  /* Styles for screens between 321px and 767px */
  @media screen and (min-width: 321px) and (max-width: 767px) {
    font-size: 11px;
    padding: 10px;
  }

  /* Styles for screens between 768px and 1199px */
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 13px;
    padding: 12px;
  }

  /* Styles for screens larger than 1200px */
  @media screen and (min-width: 1200px) {
    padding: 14px;
  }
}

.gallery-item .details p {
  display: inline-block;
  margin-right: 10px;
}

.gallery-item .details .likes::before {
  content: '♥';
  margin-right: 5px;
}

.gallery-item .details .views::before {
  content: '👁️';
  margin-right: 5px;
}

.gallery-item .details .comments::before {
  content: '💬';
  margin-right: 5px;
}

.gallery-item .details .downloads::before {
  content: '⤓';
  margin-right: 5px;
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

/* search form styles */
.search-form {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 200px;
  margin: 10px auto 0;
  // position: relative;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  background-color: #E9EBEC;
  z-index: 1000;

  /* Styles for screens smaller than 320px */
  @media screen and (max-width: 320px) {
    width: 100%;

  }

  /* Styles for screens between 321px and 767px */
  @media screen and (min-width: 321px) {
    max-width: 300px;
    font-size: 14px;
  }

  /* Styles for screens between 768px and 1199px */
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 16px;
  }

  /* Styles for screens larger than 1200px */
  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}

.search-form input[type="text"] {
  font-size: 20px;
  color: #333;
  padding: 10px;
  border: none;
  border-radius: 25px;
  width: 100%;
  outline: none;
  background-color: transparent;

  @media screen and (max-width: 320px) {
    font-size: 16px;
  }
}

.search-form button[type="submit"] {
  border: none;
  background-color: transparent;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 10px;

  @media screen and (max-width: 320px) {
    padding: 5px 10px;
    font-size: 14px;
  }
}

.search-form button[type="submit"]:focus,
.search-form input[type="text"]:focus {
  background-color: #fff;
}

.search-form:focus-within {
  outline: 2px solid #22b8cf;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* arrow_upward */
.btn-to-top {
  position: fixed;
  bottom: 3vh;
  right: 1vw;
  z-index: 1000;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fdfdfd;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.btn-to-top.show {
  opacity: 1;
  visibility: visible;
}

.btn-to-top:hover,
.load-more:hover {
  background-color: #f0f0f0;
  transition: all 0.3s;
}